.inactive {
    color: #008cff !important;
    text-decoration: none;
}

.active {
    color: rgb(109, 53, 0);
    text-decoration: none;
}

.nav-override-color {
    color: #ffffff !important;
    text-decoration: none;
}

h3,
p {
    margin: 0px;
}